<a href="https://colab.research.google.com/github/abhilashbharti/Demo/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score


credit_card_data=pd.read_csv("/content/creditcard.csv")

In [115]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
credit_card_data.tail()

In [53]:
import matplotlib.pyplot as plt

In [ ]:
def draw_histogram(dataframe,features,rows,cols): 
  fig=plt.figure(figsize=(20,20))
  for i,feature in enumerate(features): 
    ax=fig.add_subplot(rows,cols,i+1) 
    dataframe[feature].hist(bins=25,ax=ax,facecolor='midnightblue') 
    ax.set_title(feature+"Distribution",color="Darkred") 
    ax.set_yscale('log')
  fig.tight_layout() 
plt.show()
draw_histogram(credit_card_data,credit_card_data.columns,8,4)

In [69]:
pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [70]:
from catboost import CatBoostClassifier

In [ ]:
credit_card_data.info()

In [116]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [117]:
#distribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This data is highly unbalanced 

0- normal transcation
 
1- fraudulent transaction

In [74]:
#seperating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]

In [75]:
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)

In [ ]:
print(fraud.shape)

In [78]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [79]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [118]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

under- sampling

build a sample dataset containing similar distribution of normal transactions and fraudulent transactions

number of fraudulent transactions -->492

In [119]:
legit_sample=legit.sample(n=492)

concatenating two data frames

In [82]:
new_dataset= pd.concat([legit_sample,fraud],axis=0)

In [83]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
206374  136186.0  2.138252  0.107755  ... -0.071152    2.27      0
266529  162371.0 -0.154841  0.843503  ...  0.252331   92.93      0
199504  132996.0  1.969848 -0.495664  ... -0.040676   18.39      0
194811  130767.0  1.946450  0.001834  ... -0.072256   25.20      0
247162  153484.0 -1.740859  0.954261  ... -0.550594   41.50      0

[5 rows x 31 columns]

In [84]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [85]:
new_dataset['Class'].value_counts()

1    492
0     25
Name: Class, dtype: int64

In [86]:
new_dataset.groupby('Class').mean()

                Time        V1        V2  ...       V27       V28      Amount
Class                                     ...
0      107265.120000  0.804678  0.088300  ...  0.009812 -0.003104   54.664800
1       80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

splitting the data into features & targets

In [103]:
X=new_dataset.drop(columns='Class',axis=1)

In [88]:
Y=new_dataset['Class']

In [89]:
print(X)

            Time        V1        V2  ...       V27       V28  Amount
206374  136186.0  2.138252  0.107755  ... -0.059037 -0.071152    2.27
266529  162371.0 -0.154841  0.843503  ...  0.207647  0.252331   92.93
199504  132996.0  1.969848 -0.495664  ...  0.019381 -0.040676   18.39
194811  130767.0  1.946450  0.001834  ... -0.033076 -0.072256   25.20
247162  153484.0 -1.740859  0.954261  ... -0.735847 -0.550594   41.50
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[517 rows x 30 columns]

In [90]:
print(Y)

206374    0
266529    0
199504    0
194811    0
247162    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 517, dtype: int64

split the data into training data & split data

In [104]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify= Y,random_state=2)

In [105]:
print(X.shape,X_train.shape,X_test.shape)

(517, 30) (413, 30) (104, 30)

model training

logistic regression

In [107]:
model=LogisticRegression()

In [110]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression()

model evaluation

Accuracy Score

In [111]:
#accuracy on training data
X_train_prediction=model.predict(X_train)

In [112]:
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [113]:
print("Accuracy on training data :",training_data_accuracy)

Accuracy on training data : 0.9685230024213075

In [114]:
#accuracy on test data
X_test_prediction=model.predict(X_test)

In [100]:
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [101]:
print("Accuracy on test data :",test_data_accuracy)

Accuracy on test data : 0.9711538461538461